.hourList {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(70px, 1fr);
  gap: 1rem;
}

.activeDay{
  background-color: var(--blue);
}

.defaultDay{
  background-color: transparent;
}

.defaultDay:hover{
  background-color: var(--bg-card-hover);
}